body {
            background: linear-gradient(to right, #74ebd5, #ACB6E5);
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .login {
            width: 400px;
            padding: 30px;
            border-radius: 20px;
            box-shadow: 0 8px 20px rgba(36, 133, 73, 0.226);
            background-color: #ffffff;
        }

        .registro {
            width: 700px;
            padding: 30px;
            border-radius: 20px;
            box-shadow: 0 8px 20px rgba(36, 133, 73, 0.226);
            background-color: #ffffff;
        }

        .perfil {
            width: 500px;
            padding: 30px;
            border-radius: 20px;
            box-shadow: 0 8px 20px rgba(36, 133, 73, 0.226);
            background-color: #ffffff;
        }

        h1 {
            font-weight: 700;
            color: #333;
        }

        .form-control {
            border-radius: 10px;
            padding: 10px;
        }

        .btn-primary {
            border-radius: 10px;
            padding: 10px 25px;
            margin: 5px;
            font-weight: 600;
            transition: all 0.3s ease;
        }

        .btn-primary:hover {
            background-color: #09944e;
            transform: translateY(-2px);
        }

        .card-title {
            font-weight: 600;
            color: #555;
        }

        #loginForm {
            margin-top: 20px;
        }